<template name="orig_links">
    <li>{{#link route='portfolio1'}}1 Column Portfolio{{/link}}</li>
    <li>{{#link route='camps'}}2 Column Portfolio{{/link}}</li>
    <li>{{#link route='portfolio3'}}3 Column Portfolio{{/link}}</li>
    <li>{{#link route='portfolio4'}}4 Column Portfolio{{/link}}</li>
    <li><a href="portfolio-item.html">Single Portfolio Item</a></li>
    <li><a href="full-width.html">Full Width Page</a></li>
    <li><a href="faq.html">FAQ</a></li>
	<li class="active"><a href="404.html">404</a></li>
    <li>{{#link route='pricing'}}Pricing{{/link}}</li>
</template>